@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300;1,800&display=swap');
@import url('bootstrap.min.css');

html, body {
    height: 90%;
}

body {
    display: flex;
    flex-flow: row;
    justify-content: center;
    overflow-x: hidden;
}



.cover-site {
    width: 604px;
    height: 355px;
    background: url() no-repeat;
    position: absolute;
    background-size: cover;
    position: absolute;
    z-index: -1;
}

/* FONDO DESENFOQUE */

#bgCover {
    width: 327px;
    height: 350px;
    background:url(https://i.postimg.cc/x84SwB7c/cover-radio-cristiana-01.jpg) center no-repeat ;
    background-size: cover;
    position: absolute;
    margin: -26px;
    top: 29px;
    left: 0px
    border-radius: 0px;
    -webkit-box-shadow: 4px 6px 30px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 4px 6px 30px 0px rgba(0,0,0,0.6);
    box-shadow: 4px 6px 30px 0px rgba(0,0,0,0.6);
    z-index: 5;
    left: 82px;
    box-shadow: 0 0 2px #,
   0 0 25px #180df8,
   0 0 50px #d2e40e,
   0 0 200px #180df8;

   }
   a:nth-child(1){
   filter: hue-rotate(270deg);
   }
   a:nth-child(2){
   filter: hue-rotate(110deg);
   }
   a span{
   position: absolute;
   display: block;
   }
   a span:nth-child(1){
   top: 0;
   left: 0;
   width: 100%;
   height: 2px;
   background: linear-gradient(90deg,transparent,#DF73FF);
   animation: animate1 1s linear infinite;
   }
   @keyframes animate1{
   0%{
   left: -100%;
   }
   50%,100%{
   left: 100%;
   }
    }
/*
.bg-mask {
    width: 338px;            
    height: 338px;          
    background: url()center no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -12;
    overflow: hidden;
    left: 234px;
    top: 25px;
      -webkit-animation: spin 4.8s linear infinite;
    -moz-animation: spin 4.8s linear infinite;
   animation: spin 4.8s linear infinite;
    z-index: -12;
    
   }
   }

    @-moz-keyframes spin {
    100% {
     -moz-transform: rotate(360deg);
   }
   }
   @-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
   }
   @keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
   }

*/

.web-player {
    width:360px; 
    height:360px;
    color: #fff;
    padding: 5px;
    position: absolute;
    z-index: 1;
    margin-top: 5px;
}

.cover-album {
    max-width: 604px;
    margin: 1px;
    background: url() no-repeat;
    background-size: cover;
    top: 25px;

    margin-bottom: 0px;
    
}


#currentCoverArt {
  width: 330px;
  height: 330px;
  background: url()center no-repeat;
  opacity: 0.2;
  background-size: cover;
  position: absolute;
  border-radius: 100%;
  -webkit-box-shadow: 2px 3px 30px 0px rgba();
  -moz-box-shadow: 2px 3px 30px 0px rgba();
  box-shadow: 2px 3px 30px 0px rgba();
  z-index: -12;
  overflow: hidden;
  right: 5px;
  top: 13px;
      -webkit-animation: spin 5s linear infinite;
    -moz-animation: spin 5s linear infinite;
    animation: spin 5s linear infinite;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
  
   }
   .is-playing #currentCoverArt {
    right: 215px;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

.vagalume a {
    color: #fefefe;
    text-decoration: underline;
}

.lyrics {
    text-transform: uppercase;
    text-decoration: none;
    color: #fefefe;
    font-size: 1em;
    font-weight: 400;
    outline: none;
    transition: .3s;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.lyrics:active {
    text-decoration: none;
    color: #fefefe;
}

.lyrics:visited {
    text-decoration: none;
    color: #fefefe;
}

.modal-content {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fefefe !important;
    border-radius: 20px;
}

.modal-content .btn {
    border-radius: 20px;
    background-color: #00E1E7;
}

.hidden {
    display: none; 
  }

/* Chrome */
input[type=range] {
    appearance: none;
    background: transparent;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animation: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #fefefe;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #fefefe;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
}

/* Firefox */
input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animation: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #fefefe;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #fefefe;
    cursor: pointer;
}

/* IE e Edge */
input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animation: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 10px 0;
    top: -10px;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #fefefe;
    border: 0px solid #000101;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
    background: #fefefe;
    border: 0px solid #000101;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #fefefe;
    cursor: pointer;
}


.historic h2 {
    color: #fefefe;
    border-bottom: 2px solid #fefefe;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px 0;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    
}


/* ZONA FONDO CANCIONES SONADAS */

.historic article {
    margin: 5px 0;
    padding: 10px;
    background-color: none;
}

.historic .cover-historic { 
    width: 95px;
    height: 95px;
    margin-right: 15px;
    float: left;
    border-radius: 10px;
    background: url('../img/Tapa.png') no-repeat;
    background-size: cover;
    border: 2px solid #fefefe;
   
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-image 1s;
}

/* COLOR TEXTO INFO ARTISTA */
.historic .music-info {
    color: white;
    font-family: 'Poppins', sans-serif;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}


/* COLOR TEXTO CANCION */

.historic .music-info .song {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: -5px;
    color: white;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

@media(max-width: 370px) {
    .cover-album {
        max-width: 100%;
    }
}

@media(min-width: 576px) {
    .volume-control {
        display: flex;
    }

    .call-lyrics {
        margin-top: 20px;
    }
}

@media(min-width: 768px) {
    body {
        align-items: center;
    }

    .h1-logo {
        text-align: center;
    }

    .logo {
        display: block;
        z-index: 2;
    }

    .logo img {
        max-width: 200px;
    }

    .web-player {
        height: auto;
        margin-top: 0;
    }

    .cover-album {
        margin: 10px auto;
        min-width: 320px;
        height: 320px;
    }

    .logo img {
        max-width: 300px;
        margin: 65px 0;
    }

    .info-current-song {
        margin-top: 20px;
        text-align: left;
    }

    .volume-control {
        margin-top: 10%;
    }
}

#buttonPlay {
    padding-left: 10px;
}
#playerButton {
    color: black;
}
.play-pause i {
    cursor: pointer;
}
.btn-play {
    background-color: white;
    border: none;
    color: black;
    padding: 10px 20px; /* Reduzindo o preenchimento */
    font-size: 14px; /* Reduzindo o tamanho da fonte */
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    width: auto; /* Largura automática */
    transition: transform .2s;
    box-shadow: 1px 3px #30303022;
}

.btn-play:focus {outline:0;}

.btn-play:hover {
    box-shadow: 1px 5px #30303022;
    transform: scale(1.1);
}

.close{
    color: white;

}

